*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f6f6f6;
  color: #373734;
  font-family: miller-text,serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.11;
}
.cartContainer {
  margin: 1em;
  margin-top: 2em;
  text-align: center;
}
.cartUnorderedList {
  margin: auto;
  width: 50%;
  height: 60vh;
  overflow-y: scroll;
}

.cartPrice {
  width: 5rem;
}
.trashCan { 
  width: 5rem;
}
.cartQuantityButton {
  width: 5rem;
}
.cartContainer img {
  max-height: 6em;
  display: inline-block;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}
.cartDisplayItem {
  display: flex;
  
}
.cartDisplayText {
  display: flex;
  align-items: center;
  
}
.cartDisplayText p, .cartDisplayText h4 {
  margin: 1rem;
}
.cartFoodNames {
  width: 15em;
  color: #373734;
  font-family: miller-text,serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.11;
}
.total {
  text-align: center;
  color: #373734;
  font-family: miller-text,serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.11;
}
.paymentUI {
  text-align: center;
  margin: 0.5em;

} 
.paymetUI h3, .paymentUI button {
  margin: 0.5rem;
  color: #fff;
  background-color: #9882b0;
  border: 0;
  border-radius: 6px;
  font-family: miller-text, serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.11;
  margin-top: 0.75rem;
  width: 20%;
  cursor: pointer;

}

.paymentUI a:visited {
  text-decoration: none;
  color:#fff;

}

.cartQuantityButton button {
  width: 1.2rem;
  border-style: solid;
  border-radius: 6px;
  border-color:  #9882b0;
  
}


