.navbarImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    display: flex;
    margin:0.5em;
    margin-top: 1em;
}
.navbarCart a {
    color:  #373734;
    text-decoration: none;
}

.navbarCart a:visited {
    color:  #373734;
    text-decoration: none;
}
